/* Modified YUI2 Reset */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\000032}}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\000033}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\000034}}
fieldset, img {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\000035}}
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\000036}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\000037}}
caption, th {
  text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\000038}}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\000039}}
q:before, q:after {
  content: ''; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\0000310}}
a {
  text-decoration: none;
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\0000311}}
abbr, acronym {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\0000312}}
input, textarea {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\0000313}}
header, article, section, nav, figure, aside, hgroup, footer {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\0000314}}
body, html {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/alexward\/codebase\/BBQ\/BBQ\%20Online\/static\/styles\/sass\/reset\.scss}line{font-family:\0000315}}
select::-ms-expand {
  display: none; }
