/* This is where all media queries are held */

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dppx) {
   @include hires-switch();
}

// desktop/landscape tablet layout
// @media only screen and (min-width: 1500px) {
//     @include hires-switch();
//     .main {
//         width: 98%;
//         margin: 0 auto;
//     }
//     .content-block {
//         .main & {
//             display: inline-block;
//             width: 33.2%;
//             vertical-align: top;

//             .button { width: 66% }

//             h1 { padding: 1em 10%; }
//         }
//     }
// }

// High resolution displays
@media only screen and (min-width: 1760px) {
    .content-block {
        .main & {
            h1 { padding: 1em 0;}
        }
    }
}

// Narrow tablet layout
@media only screen and (max-width: 650px) {
    .content-block {
        .shout { padding: 1em 8%; }
        .content { margin: 0 8%; }
    }

    .brands {
        .content { margin: 1em 0; }
        ul {
            display: block;
            li {
                width: 49%;
                margin: 1em 0;
                display: inline-block;
            }
        }
    }
}

// Mobile layout
@media only screen and (max-width: 450px) {
    .button { width: 70%; }
    .landing {
        background-image: url("/static/images/steak-background-mob.jpg");

        .cta {
             font-size: 60%;
             .button { font-size: 240%; }
        }
        &.collapsed { min-height:250px; }

        > header {
            .logo {
                width: 100px;
                height: 100px;
                margin: 1em 0;
                box-shadow: none;
            }
            .slogan { display: none; }
        }
    }

    .wrapper > header {
        top:5px;
        left:0px;
        width: 60px;
        padding-right: 0.5em;
        height: 30px;
        background-image:url("/static/images/bmenu.gif");
        background-size: 60%;
        background-position: 50%;
        background-repeat: no-repeat;
        border-radius: 0 6px 6px 0;
        box-shadow: 0 0 5px rgba(#000, 0.5);
        nav { display: none; }
        &:hover {
            border-radius: 0 6px 0 0;
            nav {
                position: relative;
                top: 40px;
                width: 250%;
                padding:1em 1em 0;
                background: $darkGrey;
                border-radius: 0 6px 6px 0;
                box-shadow: 0 5px 5px rgba(#000, 0.5);
            }
            ul {
                position: static;
                li {
                    margin-left: 0;
                    display: block;

                    a {
                        font-size: 1.6em;
                        display: block;
                        padding: 10px;
                        background-color: darken($darkGrey, 2%);
                        margin-bottom: 2px;
                     }
                }
                &.main-menu { margin-left: 0; }
                &.social {
                    margin-right: 0;

                    .ico {
                        width: 3.5em;
                        margin-top: 1em;
                        margin-right: 5px;
                        display: inline-block;

                        a { background-color: transparent; }
                    }
                }
            }
        }
        &.open {
            background-image: url("/static/images/bmenu-toclose.gif");
            .social { display: block; }
        }

        &.closed {
            background-image: url("/static/images/bmenu-toopen.gif");
            .social { display: none; }
        }

    }

    .content-block {
        h1 { margin-bottom: 1em; }
        .block-image {
            &.beautiful-web {
                background-image: url("/static/images/beautiful_web_background-mob.jpg");
            }
            &.knowledge-sharing {
                background-image: url("/static/images/knowledge_sharing_background-mob.jpg");
            }
            &.almost-unbelievable {
                background-image: url("/static/images/almost_unbelievable_background-mob.jpg");
            }
        }
        .content {
            margin: 0 5%;
        }
    }

    footer {
        .col { width: 45%; }
    }

    .person {
        img {
            width: 100%;
            height: auto;
            margin: 0;
            float: none;
        }

        h2 {
            font-size: 2.5em;
            text-align: center;
            margin-top: 0;
            color:#fff;
            background-color: $darkGrey;
            padding: 0.5em 0;
        }
    }

    .col {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }

    .contact form,
    .contact-details {
        background-color: lighten($lightGrey, 15%);
        padding: 2em;
    }

    .content-block.contact form {
        input, textarea {
                background-color: lighten($lightGrey, 5%);
        }
    }


}


// Small screen layout (eg Nintendo DS)
@media only screen and (max-width: 320px) {
    .landing {
        .cta {
            font-size: 30%;
            span { background-color: #000 }
            .button { font-size: 290%; }
        }
    }

    .content-block {
        .shout { font-size: 150%; }
        h1 { font-size: 2em; }
    }
}
