        <div class="clear"></div>
        <footer>
            <ul class="col">
                <li><a href="/">Home</a></li>
                <li><a href="/about-us">About BBQ</a></li>
                <li><a href="/why-bbq">Why choose BBQ</a></li>
                <li><a href="/contact-us">Get in Touch</a></li>
            </ul>
            <ul class="col">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/sitemap">Sitemap</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
            </ul>
            <ul class="external col">
                <li><a href="http://blog.bbqdigital.com">Blog</a></li>
                <li><a href="http://facebook.com/bbqdigital">Facebook</a></li>
                <li><a href="http://twitter.com/bbqdigital">Twitter</a></li>
                <!-- <li><a href="http://styleguide.bbqdigital.com">Styleguide</a></li>
                <li><a href="http://digitalfusionmag.com">Digital Fusion Magazine</a></li> -->
            </ul>
            <div class="contact col" itemscope itemtype="http://schema.org/LocalBusiness">
                 <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <strong itemprop="name">BBQ Digital Limited</strong> <br />
                    <span itemprop="streetAddress">Ocean Village Innovation Centre <br />
                    Ocean Way, Ocean Village </span><br />
                    <span itemprop="addressLocality">Southampton</span> <br />
                    <span itemprop="addressRegion">Hampshire</span> <br />
                    <span itemprop="postalCode">SO14 3JZ</span>
                </address>
                <br />
                <strong>Tel:</strong><a itemprop="telephone" class="phone-number" href="tel:02380986981"> 0238 098 6981</a>
                <strong>Email:</strong> <a itemprop="email" href="mailto:sayhi@bbqdigital.com" class="email">sayhi@bbqdigital.com</a>
            </div>
            <div role="contentinfo" class="copy">
                <img alt="Comodo SSL seal" src="https://www.instantssl.com/ssl-certificate-images/support/comodo_secure_100x85_transp.png"/> <br />
                <span>&copy;MMIV BBQ Digital Limited. All Rights reserved. <br /> Registered in England &amp; Wales 08480746.</span>
            </div>

        </footer>
    </div>
    <script src="/static/scripts/core.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52133924-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
