/* This is where all custom styles are held */

/* Global styles */
body {
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
     > header {
        position: absolute;
        display: none //for now
    }

    > footer {
        @extend .dark;
        padding:1em;

        a {
            color: $offWhite;
            font-size: 1.1em;
        }

        .copy {
            display: block;
            margin-bottom: 1em;
        }
    }
}

/* Landing section */
.landing {
    position: relative;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-image: url("/static/images/steak-background.jpg");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &.collapsed {
        min-height:30%;
        max-height:30%;
        background-position-y: 50%;
    }

    > header {
        position: relative;
        z-index: 999;
        text-align: center;
        .logo {
            margin: 0 auto;
            box-shadow: 0 0 100px #000;
        }
        .slogan {
            display: block;
            margin: 0 auto;
            font-size: 2.5em;
            color: $offWhite;

            strong { font-weight: bold; }
        }
    }

    .cta {
        position: absolute;
        width: 100%;
        bottom: 5%;
        text-align: center;

        span {
            display: block;
            font-size: 4em;
            color: $offWhite;
            text-shadow: 0 0 10px #000;
            text-transform: uppercase;
            @extend .extraBold;
            strong {
                @extend .black;
                font-size: 1.3em;
            }
        }

        .button { margin-top: 1em; }
    }
}

/* Content Blocks */
.content-block {
    h1 {
        background-color: $darkGrey;
        color: $offWhite;
        padding: 1em 0;
        @extend .mainH1Style;
    }

    .shout {
        display: block;
        text-align: center;
        text-transform: uppercase;
        @extend .black;
        font-size: 4em;
        color: $darkGrey;
        padding: 1em 20%;
        background-image: url("/static/images/striped-bg.gif");
        background-repeat: repeat;
        margin-bottom: 1em;
    }

    .block-image {
        background-size: cover;
        background-position: 50% 80%;
        height: 30em;
        margin-bottom: 2em;
        text-indent: -9999px;
        &.beautiful-web {
            background-image: url("/static/images/beautiful_web_background.jpg");
        }
        &.knowledge-sharing {
            background-image: url("/static/images/knowledge_sharing_background.jpg");
        }
        &.almost-unbelievable {
            background-image: url("/static/images/almost_unbelievable_background.jpg");
            background-position: 50% 65%;
        }
    }

    .content {
        margin: 0 15%;
    }

    .button { margin: 2em auto 1em; }

    a {
        color: $brand;
        &:hover {
            color: darken($brand, 15%);
        }
    }

    p {
        color: $darkGrey;
        font-size: 2em;
        line-height: 1.5em;
        margin: 0 0 1em 0;
    }

    /* Contact type */
    &.contact {

        .content { padding: 1.5em 0;}

        h1 { margin-bottom: 0.2em; }
        .col p { padding-right: 2em; }
        .item-detail {
            display: block;
            font-size: 1.4em;
            margin-bottom: 1em;
            h2, strong { font-weight: bold}
        }
        address { @extend .col-33; }
    }

    /* Map type */
    &.map {
        h1 {
            font-size: 1.5em;
            margin-bottom: 0
        }
    }
}

.brands {
    margin-bottom: 1em;
    li {
        display: inline-block;
        margin-right: 20px;
    }
}

// Narrow tablet layout
@media only screen and (max-width: 650px) {
    .content-block {
        .shout { padding: 1em 8%; }
        .content { margin: 0 8%; }
    }
}

// Mobile layout
@media only screen and (max-width: 450px) {
    .landing {
        background-image: url("/static/images/steak-background-mob.jpg");

        .cta {
             font-size: 60%;
             .button { font-size: 240%; }
        }
    }

    .content-block {
        .block-image {
            &.beautiful-web {
                background-image: url("/static/images/beautiful_web_background-mob.jpg");
            }
            &.knowledge-sharing {
                background-image: url("/static/images/knowledge_sharing_background-mob.jpg");
            }
            &.almost-unbelievable {
                background-image: url("/static/images/almost_unbelievable_background-mob.jpg");
            }
        }
    }

    footer {
        .col { width: 45%; }
    }
}


// Small screen layout (eg Nintendo DS)
@media only screen and (max-width: 320px) {
    .landing {
        .cta {
            font-size: 30%;
            span { background-color: #000 }
            .button { font-size: 290%; }
        }
    }

    .content-block {
        .shout { font-size: 150%; }
        h1 { font-size: 100%; }
    }
}
